CENTRAL_HOST={{ central_host }}
CENTRAL_PORT={{ central_port }}
CENTRAL_CONFIG={{ central_config_path }}
CENTRAL_LOG_DIR={{ central_log_dir }}
CENTRAL_LOG_LEVEL={{ central_log_level }}
CENTRAL_TLS_CERT={{ central_tls_cert | default('') }}
CENTRAL_TLS_KEY={{ central_tls_key | default('') }}
CENTRAL_FORCE_HTTPS={{ central_force_https | default(false) | ternary('true', 'false') }}
CENTRAL_BOOTSTRAP_ADMIN_PASSWORD={{ central_bootstrap_admin_password | default('') }}
CENTRAL_ALLOW_INSECURE_SESSION_SECRET={{ central_allow_insecure_session_secret | default(false) | ternary('true', 'false') }}
CENTRAL_ALLOW_INSECURE_DEFAULT_ADMIN_PASSWORD={{ central_allow_insecure_default_admin_password | default(false) | ternary('true', 'false') }}
