AGENT_HOST={{ agent_host }}
AGENT_PORT={{ agent_port }}
AGENT_CONFIG={{ agent_config_path }}
VM_AGENT_LOG_DIR={{ agent_log_dir }}
VM_AGENT_LOG_LEVEL={{ agent_log_level }}
AGENT_ALLOW_INSECURE_NO_TOKEN={{ agent_allow_insecure_no_token | default(false) | ternary('true', 'false') }}
